<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onResetPassword()" #resetForm="ngForm">
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
    </ion-item>

    <ion-button id="present-alert" expand="full" type="submit" [disabled]="!resetForm.form.valid">Enviar</ion-button>
    <ion-alert
    trigger="present-alert"
    header="Correo Enviado"
    [buttons]="alertButtons"
    (didDismiss)="setResult($event)"
  ></ion-alert>
  </form>
</ion-content>
