ion-header {
  --background: #FFFFFF;
  --color: white;
}
ion-toolbar {
  --background: #FFFFFF;
  --color: #000000;
}

ion-content {
  --background: #FFFFFF;
}
ion-item {
  --background: #FFFFFF; /* Cambia el fondo a blanco */
  --color : #000000; /* Cambia el color del texto */
}
ion-button {
  --color: #FFFFFF; /* Cambia el color del texto de los botones */
}
.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Añadido para espacio entre logo y formulario */
  }
  
  .logo {
    width: 150px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
  }
h1, p{
  color: #000000; /* Color del texto de los encabezados */
  justify-content: center;
  display: flex;
}