<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Enviar Instrucciones</ion-button>
    <ion-button [routerLink]="['/']" expand="full" color="medium" (click)="goBack()">Volver</ion-button>
  </form>
</ion-content>
