ion-header {
  --background: #FFFFFF;
  --color: white;
}
ion-toolbar {
  --background: #FFFFFF;
  --color: white;
}

ion-content {
  --background: #FFFFFF;
}

ion-button {
  --color: #FFFFFF; /* Cambia el color del texto de los botones */
}

welcome-container {
  text-align: center;
  margin-top: 20px; /* Añadido para más espacio */
}

h2, h3 {
  color: #000000; /* Color del texto de los encabezados */
}

ion-card {
  margin: 10px 0; /* Espaciado entre las tarjetas */
}

ul {
  list-style: none;
  padding: 0;
  border-radius: 10px;
  background-color: #132CAA;
  
}

li {
  display: flex;
  justify-content: center;
  padding: 5px 0; /* Espaciado entre elementos de la lista */
}

ion-button {
  margin-top: 10px; /* Espaciado consistente entre botones */
}


video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}